/* hover on btn */
 .hovered-blue.btn.btn-primary:hover{
    color: #000051;
    background: white !important;
    border: 3px solid #000051 !important;
  }
 
  .hovered-red.btn.btn-primary:hover{
    color: #B71C1C;
    background-color:#ffff !important;
    border: 3px solid #B71C1C !important;
  }

  .hovered-google.btn.btn-primary:hover{
    color: #4285f4;
    background-color:#ffff !important;
    border: 3px solid #4285f4 !important;
  }


  .form-check-label{
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  @media screen and (max-width: 768px) {
    .shadow.p-3.mb-5.bg-white.rounded.main-container{
      min-height: 100vh!important;
      min-width: 80%
    }

    .register-form{
      min-width: 80%;
    }
    
    .main-form{
      min-width: 80%;
    }
    div.link{
      width: 100% !important;
      font-size: 0.8rem !important;
      justify-content: center !important;
      margin: auto !important;
    }

    .hovered-google.btn.btn-primary{
      width: 180px !important;
      font-size: 0.8rem !important;
    }

    .hovered-blue.btn.btn-primary,
    .hovered-red.btn.btn-primary{
      font-weight: 400 !important;
    }

    .password-rule{
      font-size: 0.8rem !important;
    }


  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {

  div.main-container{
    min-height: 83vh !important;
    min-width: 80%
  }
  .register-container{
    min-width: 80%;
  }
  .register-form{
    min-width: 80%;
  }

  .main-form{
    min-width:80%
  }

}