.filterContainer {
  font-family: "Ubuntu", sans-serif;
  width: 600px;
  height: 700px;
  margin: 70px;
}

.filterItem {
  margin-top: 20px;
}

legend {
  font-size: 30px;
  font-weight: 700;
}

input[type="checkbox"] {
  height: 22px;
  width: 22px;
  margin-right: 0.5em;
}

label {
  font-size: 25px;
  cursor: pointer;
}

/* stars rating */
.starRating {
  display: inline-block;
}

.starRating * {
  float: right;
}

.inputStar {
  display: none;
}

.labelStar {
  font-size: 25px;
}

.inputStar:hover ~ .labelStar {
  font-weight: 400;
}

.inputStar:checked ~ .labelStar {
  color: #000051;
  font-weight: 700;
}
