.filterContainer {
  font-family: "Ubuntu", sans-serif;
  width:18%;
  height: 1000px;
  margin-left: -22%;
  margin-top: 0%;
  background-color: #000051;
  padding: 20px;
  padding-left: 30px;
  color: white;
}

.filterContainer>h1{
  padding-top: 30%;
  font-size: 18px;
}

.filterItem {
  margin-top: 20px;
}
.filterItem>.language{
font-size: 18px;
}


legend {
  font-size: 20px;
  font-weight: 700;
}

input[type="radio"] {
  height: 18px;
  width: 18px;
  margin-right: 5px;

}

label {
  font-size: 15px;
}

.starRating {
  display: inline-block;
  width: 300px;
}

.starRating * {
  size: 10px;
}

.inputStar {
  display: none;
}

.labelStar {
  font-size: 18px;
}
.labelStar:hover{
  color: white;
}

.inputStar:hover ~ .labelStar {
  font-weight: 400;
}

.inputStar:checked ~ .labelStar {
  color: white;
  font-weight: 700;
}
