
.searchField {
  height: 900px;
  margin-top: 50px;
  width: 80%;
  margin-right: -20%;
}

.schoolList {
  font-family: "Ubuntu", sans-serif;
  width: 1000px;
  height: 750px;
  overflow-y: scroll;
}
/*
.schoolList::-webkit-scrollbar {
  width: 30px;
  border: 1px solid #000;
  border-radius: 5px;
}

.schoolList::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #000051;
  border: 1px solid #000;
}
*/

.schoolListItem {
  width: 955px;
  height: 300px;
  margin: 2em;
  padding: 1.5em;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}

.schoolName {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  color: #000051;
  margin-bottom: 5px;
}

.schoolContact {
  text-align: left;
  margin-bottom: 5px;
  font-size: 18px;
}

.btn-container {
  margin: 1em 0 1em 0;
  text-align: left;
}

.schoolList-btn {
  color: #ffffff;
  font-size: 18px;
  background-color: #000051;
  border-radius: 20px;
  border: 1px solid #000051;
  padding: 0.4em 0.7em;
  margin-right: 40px;
}

.schoolList-btn:hover {
  background-color: #ffffff;
  color: #000051;
}

.schoolList-btn:focus {
  outline-width: 0px;
}

.review-container {
  text-align: left;
  font-size: 18px;
  display: flex;
}

.fa-star {
  padding: 0 0.3em 0 0.3em;
}

.fa-star:hover {
  color: #000051;
  font-weight: 700;
}

.schoolListItem-rightSide {
  min-width: 140px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.suggestions {
  z-index: 10;
  cursor: default;
  margin: 20px 0px 20px 40px;
  width: 900px;
}

.searchBar {
  
  margin: 20px 20px 20px 15%;
  padding: 5px 8px;
  width: 750px;
  border-radius: 10px;
  border: none;
  border: 1px solid white;
  background-color: rgba(211, 211, 211, 0.945);
}

.searchBarInput {
  width: 700px;
  outline: none;
  border: none;
  font-size: 20px;
  background-color: rgba(211, 211, 211, 0.705);;
}

.fa-search {
  font-size: 30px;
  color: gray;
}

/* Star Rating */

.addRatingStarContainer {
  display: inline-block;
  padding-top: 5px;
}

.addRatingStarContainer * {
  float: right;
}

.ratingForm {
  display: flex;
  flex-direction: row;
}

.addRatingStar {
  display: none;
}

.addRatingLabel {
  font-size: 20px;
}

.addRatingStar:hover ~ .addRatingLabel {
  font-weight: 400;
}

.addRatingStar:checked ~ .addRatingLabel {
  color: #000051;
  font-weight: 700;
}

.sendRating {
  border: none;
  outline: none;
  color: #000051;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 1em;
}
