.searchField {
  height: 750px;
  margin-top: 50px;
  /* width: 80%; */
  /* margin-right: -20%; */
}

.schoolList {
  font-family: "Ubuntu", sans-serif;
  height: 700px;
  overflow-y: scroll;
}

/* hide scroll-bar for overflow */
.schoolList::-webkit-scrollbar {
  display: none; /* for Chrome, Safari and Opera */
}

.schoolList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.schoolListItem {
  min-height: 300px;
  margin: 2em;
  padding: 1.5em;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.school_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.schoolName {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  color: #000051;
  margin-bottom: 5px;
  padding-left: 1rem;
}

.schoolContact {
  text-align: left;
  margin-bottom: 5px;
  font-size: 18px;
  padding-left: 1em;
}

.btn-container {
  display: flex;
  text-align: left;
  padding-left: 1em;
}

.schoolList-btn {
  color: #ffffff;
  font-size: 18px;
  background-color: #000051;
  border-radius: 20px;
  border: 1px solid #000051;
  padding: 0.4em 0.7em;
  margin-right: 40px;
  white-space: nowrap;
}

.schoolList-rating {
  color: #000051;
  font-size: 0.8em;
}

.schoolList-btn:hover {
  background-color: #ffffff;
  color: #000051;
}

.schoolList-btn:focus {
  outline-width: 0px;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-size: 1em;
}

.review-average {
  color: #000051;
  font-size: 0.8em;
  font-weight: bold;
}

.fa-star {
  padding: 0 0.3em 0 0.3em;
}

.fa-star:hover {
  color: #000051;
  font-weight: 700;
}

.fa-chevron-down,
.fa-chevron-up {
  color: rgb(183, 28, 28, 0.8);
  font-weight: 700;
}

.school-comments-qty p,
.review-average p {
  display: block;
  float: right;
  cursor: pointer;
  padding: 0.4em 0;
}

.school-comments-qty p {
  margin-bottom: 0;
}

.school-comments-qty > p > span,
.review-average p > span {
  color: #000051;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 15px;
}

.school-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.schoolListItem-rightSide {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 1em;
}

.suggestions {
  z-index: 10;
  cursor: default;
  margin: 20px 0px 20px 40px;
  width: 900px;
}

.searchBar {
  margin: 1.5em 0 2em 2em;
  padding: 5px 8px;
  width: 900px;
  border-radius: 10px;
  border: none;
  border: 1px solid white;
  background-color: rgba(211, 211, 211, 0.945);
}

.searchBarInput {
  width: 850px;
  outline: none;
  border: none;
  font-size: 20px;
  background-color: rgba(211, 211, 211, 0.705);
}

.fa-search {
  font-size: 20px;
  color: gray;
  padding-right: 10px;
}

.msgCountSchool {
  margin-left: 2em;
  color: grey;
}

/* Star Rating */

.addRatingStarContainer {
  display: inline-block;
  padding-top: 5px;
}

.addRatingStarContainer * {
  float: right;
}

.ratingForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.addRatingStar {
  display: none;
}

.addRatingLabel {
  font-size: 20px;
}

.addRatingStar:hover ~ .addRatingLabel {
  font-weight: 400;
}

.addRatingStar:checked ~ .addRatingLabel {
  color: #000051;
  font-weight: 700;
}

.submit_rate_container {
  margin: 0;
  padding: 0;
}

/* .sendRating {
    border: none;
    outline: none;
    color: #000051;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 1em;
} */

.sendRating {
  font-size: 0.8em;
  color: #fff;
  background: #000051;
  border-radius: 0.8em;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.2em 0.4em;
  margin: 0 0.4em;
}

.comments_list_container {
  margin-top: 2em;
  background: #fefefe;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.noResult {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #059;
}

.proximity {
  margin-left: 40px;
  margin-bottom: 0x;
  padding: 0px;
  border-radius: 3px 3px 3px 3px;
  color: #059;
  text-align: center;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

@media (min-width: 768px) and (max-width: 1024px) {
  .searchField {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .searchBar {
    width: 550px;
  }

  .searchBarInput {
    width: 500px;
  }

  .schoolList {
    width: 580px;
    height: 650px;
  }

  .schoolListItem {
    width: 550px;
  }

  .school_wrapper {
    flex-direction: column;
  }

  .review-container {
    flex-direction: column;
    width: auto;
    margin-top: 1em;
  }

  .schoolList-btn {
    margin-top: 1.5em;
  }
}

@media (max-width: 767px) {
  .searchField {
    width: 350px;
  }

  .searchBar {
    width: 320px;
  }

  .searchBarInput {
    width: 270px;
  }

  .school_wrapper {
    flex-direction: column;
  }

  .schoolList {
    width: 350px;
    height: 650px;
  }

  .schoolListItem {
    width: 320px;
  }

  .school-details,
  .schoolContact {
    width: auto;
    overflow: scroll;
  }

  .btn-container {
    flex-direction: column;
  }

  .schoolListItem-rightSide {
    margin-top: 1em;
    width: auto;
  }

  .review-container {
    flex-direction: column;
  }

  .schoolList-btn {
    margin-top: 1.5em;
  }

  .schoolListItem-rightSide {
    padding-right: 2em;
  }
}
