.i-button {
    padding:13px 40px;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 14px;
    color:#ffffff ;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    white-space: nowrap;
}

.i-button:focus {
    outline: none;
}

.primary {
    background-color:#000051;
    border-color: #000051;
}
.primary:hover {
    color: #000051;
    background-color: #ffffff;
}

.secondary {
    background-color:#B71C1C;
    border-color: #B71C1C;
}
.secondary:hover {
    color:#B71C1C;
    background-color: #ffffff;
}