.searchBar {
  margin: 20px 20px 20px 40px;
  padding: 5px 8px;
  width: 900px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.searchBarInput {
  width: 850px;
  outline: none;
  border: none;
  font-size: 20px;
}

.fa-search {
  font-size: 30px;
  color: gray;
}
